---
import SocialLinks from "../components/SocialLinks.astro";
import Layout from "../layouts/BlogPost.astro";

export const prerender = true;
---

<Layout title="About" description="What even is GAPP?">
  <p>
    Genuinely Approachable Pencil Puzzles (<abbr>GAPP</abbr>) is a daily series
    of pencil puzzles hosted on the Cracking the Cryptic's Discord server. Each
    puzzle is handcrafted and tested by
    <a href="#team">the GAPP team</a>. It is designed to require little to no
    prior experience to solve. The series is inspired by
    <a href="https://www.sudokutheory.com/gas/"
      >Genuinely Approachable Sudoku (<abbr>GAS</abbr>)</a
    >, a daily Sudoku series hosted on the same server.
  </p>
  <p>
    Posts go up on this website one week after they're up in the Discord server.
    If you'd like to see the puzzles as they're posted, or if you'd like to
    discuss the puzzles, please head over to the
    <code>#daily-pencil-puzzles</code> page in the server.
  </p>
  <p>
    <SocialLinks />
  </p>
  <p>
    Each puzzle comes with time standards &mdash; we reward a
    <em>Speedy Sloth</em> 🦥 for solving a puzzle very quickly, a <em
      >Quick Crab</em
    > 🦀 for solving a puzzle quickly, and anyone who solves a puzzle regardless of
    their time can claim a different <em>bird</em> 🐦 every day! Occasionally, we
    also give out otters 🦦 for additional challenges.
  </p>

  <h2>Mind the GAPP</h2>
  <p>
    <dfn>Mind the GAPP</dfn> is a monthly compilation of every puzzle posted in the
    previous month. Each volume will also contain bonus puzzles that are of higher
    difficulty than the usual GAPP. You can check out the archive here: <a
      href="https://drive.google.com/drive/folders/1X9XrQwP70GXH4bPN5ejmmBlXmRpjNKKG"
      >https://drive.google.com/drive/folders/1X9XrQwP70GXH4bPN5ejmmBlXmRpjNKKG</a
    >
  </p>

  <h3>Errata and Notes</h3>
  <ul>
    <li id="notes-7">
      <strong>Mind the GAPP vol. 7:</strong> If the link for the Parquet bonus doesn't
      work, follow this link:
      <a
        href="https://pzprxs.vercel.app/p?parquet/12/12/023205023202865683865680114114114111083023205020623865683862174114114111205023083202683865623680114114174111083083205020623623683862063063003000"
        target="_blank">https://tinyurl.com/4sv9t3df</a
      >
    </li>
    <li id="notes-10">
      <strong>Mind the GAPP vol. 10:</strong> There is a typo in the rules of Bonus
      Puzzle #2. It should read 1 - 6 as it is a 6x6 grid.
    </li>
    <li id="notes-15">
      <strong>Mind the GAPP vol. 15:</strong> A keen eyed solver pointed out that
      the bonus puzzle 3 (Light and Shadow by Eric Fox) refers to a wrong date for
      its example and rules, it should be January 22nd instead of 23rd!
    </li>
    <li id="notes-21">
      <strong>Mind the GAPP vol. 21:</strong> due to a clerical error, the Crosswall
      bonus puzzle has actually already appeared in last month's Mind the GAPP. Apologies!
    </li>
  </ul>

  <h3>Other packs</h3>

  <ul>
    <li>
      <a
        href="https://www.sudokutheory.com/gas/leaks/Never_Mind_the_GAS_Heres_the_GAPP_Leap.pdf"
        target="_blank"
        ><strong>Never Mind the GAS, Here's the GAPP Leap</strong></a
      > is a collaboration between the GAS and GAPP teams posted on the leap day of
      2024 (29 February 2024).
    </li>
  </ul>

  <h2>Links</h2>
  <ul>
    <li>
      <a href="https://www.sudokutheory.com/gas/"
        >Genuinely Approachable Sudoku (<abbr>GAS</abbr>)</a
      >, the daily Sudoku series which inspired GAPP
    </li>
    <li>
      Invite link to the
      <a href="https://discord.com/invite/BbN89j5"
        >Cracking the Cryptic (<abbr>CtC</abbr>) discord server</a
      >, where the series is hosted in <code>#daily-pencil-puzzles</code>
    </li>
  </ul>

  <h2 id="team">The team</h2>

  <ul>
    <li>
      <strong>Active setters:</strong> bakpao, Freddie Hand, jovi_al, Lavaloid, Rook
    </li>
    <li>
      <strong>Former setters:</strong> Eric Fox, Menderbug, shye, Tyrgannus, Walker
    </li>
    <li>
      <strong>Guest setters:</strong> Bill Murphy, clover, Philip Newman, Sam Cappleman-Lynes
    </li>
    <li><strong>Active testers:</strong> shye, Tyrgannus, Walker</li>
    <li><strong>Former testers:</strong> Riri, xoned</li>
  </ul>

  <h2>Sharing the puzzles</h2>

  <p>You are allowed to:</p>
  <ul>
    <li>
      share links to the puzzles (either the online solving interface or the
      archive) <strong>with credits</strong> to the respective author(s),
    </li>
    <li>share Mind the GAPP files with credits to the GAPP team,</li>
    <li>publish recording of your solves.</li>
  </ul>
  <p>
    For anything else, please ask for permission from the respective author(s)
    of the puzzle(s).
  </p>

  <h2>Reporting issues</h2>

  <p>
    For any issues or suggestions regarding the website, please message Lavaloid
    at the Discord server, or open a Github issue at
    <a href="https://github.com/lavaloid/gapp-website/issues"
      >https://github.com/lavaloid/gapp-website/issues</a
    >.
  </p>
</Layout>

<style>
  h2 {
    border-top: dotted 3px black;
    padding: 1rem 0.5ch;
    margin: 1rem -0.5ch 0 -0.5ch;
  }
</style>
