---
import { GAPP_START_DATE, SITE_TITLE } from "../consts";
import { formatISODate } from "../utils";
import HeaderLink from "./HeaderLink.astro";

const TODAY = new Date();
---

<header>
  <nav>
    <h2><a href="/">{SITE_TITLE}</a></h2>
    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/archive">Archive</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <form id="go-to-form">
        <label for="go-to-date">Go to...</label>
        <input
          name="goto"
          id="go-to-date"
          type="date"
          min={formatISODate(GAPP_START_DATE)}
          max={formatISODate(TODAY)}
          required
        />

        <button type="submit">View</button>
      </form>
    </div>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 16px;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }
  h2 {
    margin: 1em;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 0.25em 0.5em;
    color: var(--black);
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    background-color: var(--accent);
    color: white;
  }
  nav .internal-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  #go-to-form {
    border: solid 2px var(--accent-dark);
    padding: 1ch;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4px 8px;
  }
  #go-to-form button {
    font: inherit;
  }

  .social-links,
  .social-links a {
    display: flex;
  }
  @media (max-width: 100ch) {
    nav {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    nav .internal-links {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    .social-links {
      display: none;
    }
  }
</style>

<script>
  window.addEventListener("load", () => {
    const dateForm = document.getElementById("go-to-form");
    dateForm?.addEventListener("submit", (e) => {
      e.preventDefault();

      const datePicker = document.getElementById(
        "go-to-date",
      ) as HTMLInputElement;
      const dateStr = datePicker.value;
      if (dateStr) {
        window.location.href = `/archive/${dateStr}`;
      }
    });
  });
</script>
